{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<section id="contact" class="padding_top">
    <div class="container ">
      <div class="row">
          <div class="col-md-12">
                <p class="bottom30 text-center">У Вас есть вопрос? Мы всегда рады помочь! <br>
                Просто введите своё сообщение в этой форме или напишите нам по адресу: <br>
                krechetova-73@mail.ru</p>
          </div>
          <div class="col-md-12">
          <form class="contact-form padding_bottom" method="post" action="{% url 'send_question' user.id %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="hidden" name="username" class="form-control" value="{{ user.username }}">
              </div>
              <div class="col-md-6 form-group">
                <input type="hidden" name="email" class="form-control" value="{{ user.email }}">
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" placeholder="Добавьте сообщение"></textarea>
                <input type="submit" class="btn-form uppercase border-radius margintop40" value="Отправить">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}