{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<section  >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="http://localhost:8000/shop/">
              <img class="media-object" src="{% static 'img/реклама-1.png' %}" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="http://localhost:8000/shop/">
              <img class="media-object" src="{% static 'img/реклама-3.PNG' %}" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="padding_bottom" style="background-color: rgb(212,228,224)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="http://localhost:8000/shop/">
              <img class="media-object" src="{% static 'img/реклама-4.PNG' %}" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="http://localhost:8000/shop/">
              <img class="media-object" src="{% static 'img/реклама-2.PNG' %}" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--NEW ARRIVALS-->
<section id="arrivals" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading_space uppercase">Новые поступления
        </h2>
      </div>
    </div>
    <div class="row">
      <div id="fourCol-slider" class="owl-carousel">
        {% for product in products %}
        <div class="item">
          <div class="product_wrap">
            <div class="image">
              <div class="social">
                <ul>
                  <li>
                    <a href="#."><i class="fa fa-expand"></i></a>
                  </li>
                  <li>
                    <a href="#.">
                      <i class="fa fa-exchange">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="#.">
                      <i class="fa fa-heart-o">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
              <a class="fancybox" href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Product" class="img-responsive">
              </a>
            </div>
            <div class="product_desc">
              <p>{{ product.name }}</p>
              <span class="price">
                {{ product.price }}
                <i class="fa fa-rub"></i>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!--OUR BLOG-->
<section id="blog" class="padding" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="catalog.html">
              <img class="media-object" src="../static/img/реклама-1.PNG" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media blog_box">
          <div class="media-left">
            <a href="catalog.html">
              <img class="media-object" src="../static/img/реклама-2.PNG" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--BRANDS-->
<section id="brands" class="padding">
  <h3 class="hidden">hidden
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="brand-slider" class="owl-carousel; center-pic">
          <div class="item text-center">
            <img src="../static/img/logo1.png" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo2.jpg" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo3.png" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo4.jpg" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo5.jpg" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo1.png" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo2.jpg" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo3.png" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo4.jpg" alt="Brand Logo">
          </div>
          <div class="item text-center">
            <img src="../static/img/logo5.jpg" alt="Brand Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
