{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<section class="padding_small">
    <div class="container">
        <div class="col-md-6 padding_small">
          <li>
              <i class="fa fa-home">
              </i>г.Томск, пл.Южная,12.
          </li>
          <li>
              <i class="fa fa-phone">
              </i>8 (800) 333 6767
          </li>
          <li>
              <a href="https://mail.google.com/">
                  <i class="fa fa-envelope-o">
                  </i>newlook_helper@qmail.com
              </a>
          </li>
        </div>
            <div class="col-md-10" align="center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1536.7240041263915!2d84.97607842152472!3d56.452829736251424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4326ecb6e88a73d9%3A0xed9e0703ffd38b1d!2z0L_Quy4g0K7QttC90LDRjw!5e0!3m2!1sru!2sru!4v1592771077081!5m2!1sru!2sru" width="1000" height="450"></iframe>
            </div>
    </div>
</section>
{% endblock %}