{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<section id="cart" class="padding_bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div id="slider_product" class="cbp margintop40">
            <div class="cbp-item">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="detail_pro margintop40">
            <label >{{ product.name }}</label>
            <p class="bottom30">{{ product.description|linebreaks }}</p>
            <h2 class="price marginbottom15">{{ product.price }}<i class="fa fa-rub"></i></h2>

            <form class="cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label >Цвет</label>
                <p class="bottom30">{{ color.name }}</p>
                <label >Размер</label>
                <p class="bottom30">{{ size.name }}</p>
                {% if user.is_authenticated %}
                  <div class="input-group spinner">
                    <input type="text" class="form-control" value="1" name="quantity">
                    <div class="input-group-btn-vertical">
                      <div class="btn"><i class="fa fa-angle-up"></i></div>
                      <div class="btn"><i class="fa fa-angle-down"></i></div>
                    </div>
                  </div>
                  {{ cart_product_form }}
                  <br>
                  <input type="submit" value="Добавить в корзину" class="btn-light">
                {% else %}
                  <a href="{% url 'login' %}" class="uppercase btn-dark border-radius margintop30">Авторизоваться</a>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
