{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Одежда{% endif %}
{% endblock %}
{% block content %}
<section class="grid padding">
    <h3 class="hidden">hidden</h3>
    <div class="container">
      <div class="col-md-3 col-sm-3">
        <aside class="sidebar">
          <div class="widget content_space">
            <h4 class="heading uppercase bottom30">Фильтры</h4>
            <div class="accordion-container">
              <div class="set">
                <a href="#." class="active uppercase">Категории<i class="fa fa-plus"></i></a>
                <div class="content" style="display:block;">
                  <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                      <a href="{% url 'cloathesStore:product_list' %}">Все категории</a>
                    </li>
                    {% for c in categories %}
                      <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="widget content_space">
            <h5 class="uppercase marginbottom15">Цвет</h5>
            <ul class="category">
              <li {% if not color %}class="selected"{% endif %}>
                <a href="{% url 'cloathesStore:product_list' %}">Все цвета</a>
              </li>
              {% for c in colors %}
                <li {% if color.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="widget content_space">
            <h5 class="uppercase marginbottom15">Размер</h5>
            <ul class="category">
              <li {% if not size %}class="selected"{% endif %}>
                <a href="{% url 'cloathesStore:product_list' %}">Все размеры</a>
              </li>
              {% for s in sizes %}
                <li {% if size.slug == s.slug %}class="selected"{% endif %}>
                    <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
          <div class="col-md-9 col-sm-9">
            <div class="shop-grid-controls">
            </div>
          <div class="row shop-grid grid-view">
            {% for product in products %}
            <div class="col-md-4 col-sm-6">
              <div class="product_wrap heading_space">
                <div class="image">
                  <div class="tag">
                    <div class="tag-btn">
                      <span class="uppercase text-center">New</span>
                    </div>
                  </div>
                  <a class="fancybox" href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Product" class="img-responsive">
                  </a>
                </div>
                <div class="product_desc">
                  <p class="title">{{ product.name }}</p>
                  <div class="list_content">
                    <h4 class="bottom30">{{ product.name }}</h4>
                  </div>
                  <span class="price">{{ product.price }}
                <i class="fa fa-rub"></i></span>
                  <a class="fancybox" href="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"  data-fancybox-group="gallery"></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</section>
{% endblock %}
